/* 
class dashboard

*/

/* CSS for styling the scrollbar and removing arrows */
.Scroller {
  height: 400px; /* Set your desired height */
  overflow-y: scroll;
}



/* Mozilla Firefox */
.Scroller {
  scrollbar-width: thin; /* This is required for Firefox */
  scrollbar-color: #4f0381 transparent; /* Set the color of the thumb and track */
}

/* Remove up and down arrows */
.Scroller::-webkit-scrollbar-button {
  display: none;
}

/* Hide up and downrgb(174, 121, 243) in Firefox */
.Scroller {
  scrollbar-arrow-color: transparent;
}



/* ----------------class table--------------- */

.newForm{
  background-color: #89288F;
}

label{
  color: aliceblue;
}
