/*-----------------------------------------------------*/
/*------------------------ sideNav -----------------------------*/

.ZADlogo{
    width: 50px;
    height: 50px;
}

.barVector{
    width: 200px;
    height: 175px;
    background: none;
}
/* AdminSideNav.css */


/* Common styles for both sidebar and navbar */
.sidebar{
  background: linear-gradient(to bottom, #B08EC9, #EADFF2);
  color:white;
  padding: 0;
  max-height: 95vh;
}

.navbar{
  max-width: 100%;
  background-color:#320155;
  border-radius: 0px;
}

.navbar-nav .nav-item:hover,
.navbar-nav .nav-item.active {
  background-color: white;
}

/* Set the text color to black on hover and when active */
.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item.active .nav-link {
  color: black;
}
/* Styles for the sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s;
  z-index: 999;
  border-radius: 30px;
  height: 100vh;
}

.SBphase{
    background-color: #ffffff;
    border-radius: 30px;
}


.btn-collapse{
  /* background-color: #ffffffea !important; */
  color: #000 !important;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Hide the sidebar and display the toggle button */
  .sidebar {
    left: -250px;
  }
  .mainBar{
    border-radius: 3rem;
    border: #000 1px solid;
    margin-top: .9rem;
  }
  /* Show the toggle button */
  .sidebar-toggle {
    display: block;
  }
  /* Adjust the content to make space for the collapsed sidebar */
  .content {
    margin-left: 0;
  }
}

/* Styles for the navbar (on smaller screens) */
.navbar {
  display: none; /* Initially hide the navbar on larger screens */
}

/* Show the navbar on larger screens */
@media (min-width: 769px) {
  .navbar {
    display: block;
  }
  
}

/* Additional styling for your specific elements can be added here */

 /* Dropdown Button */
 .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 



  .reverse-color-on-hover li:hover {
    background-color: #89288F; /* Background color */
    color: #fff; /* Text color */
    transition: background-color 0.3s, color 0.3s; /* Transition effect for smooth color change */
  }
  
  /* Define the hover effect to reverse the color */
  .reverse-color-on-hover li{
    background-color: #fff; /* Background color on hover */
    color: #89288F; /* Text color on hover */
  }
  .reverse-color-on-hover i{
    color: #89288F; /* Text color on hover */
  }
  .reverse-color-on-hover li:hover i {
    color: #ffffff; /* Reversed color when hovered */
  }
  
  .reverse-color-on-hover li:hover span {
    color: #fff; /* Reversed color when hovered */
  }

