#navForAdmin{
    background-color: #420462 !important;
    border-radius: 3rem;
    width: 100%;
    /* margin-top: 1%; */
}
#navForAdmin a{
    color: white;
    transition: all .3s .3s ease-in-out;
    font-size: 20px;
    font-weight: 100;
    /* padding-top: 5px; */
    margin-bottom: 10px;
}
#navForAdmin a:hover{
    color: #420462;
    border-radius: 20px;
}
.admin img{
    width: 60px;
    margin: auto;
}
.btn-collapse{
    background-color: #ffffffea !important;
}
/*----------------------- Hover For Home ---------------- */
#navForHome #linksForHome a,#signInLink a{
color: #000;
  }
  #navForHome #linksForHome a:hover,#signInLink a:hover{
    color: #5c187e; 
     transition:color 0s ease-in-out 0.5s;
  }
/* ---------------------------------- */
@media (max-width:1350px){
    /* Navbar for Home */
#navForHome #signInLink,#navForHome #linksForHome{
    padding-top: 1.6rem;
}
}
/* ------ for mobile ---------*/
@media (max-width:950px){
    /* Navbar for Home */
#navForHome #signInLink{
    padding-top: 0.2rem;
}
#navForHome #linksForHome a{
    margin: .2rem 0;
}
#navForAdmin a{
color: #988cb2;
text-align: center;
padding: 0;
}
}
