#navForAdmin{
    background-color: #420462 !important;
    border-radius: 30px;
    width: 100%;
    /* margin-top: 1%; */
}
#navForAdmin a{
    color: white;
    transition: all .3s .3s ease-in-out;
    font-size: 20px;
    font-weight: 100;
    /* padding-top: 5px; */
    margin-bottom: 10px;
}
#navForAdmin a:hover{
    color: #420462;
    border: 10px 20px ;
    background-color: #ffffff;
    border-radius: 20px;
}
.admin img{
    width: 60px;
    margin: auto;
}
@media (max-width:1350px){
    /* Navbar for Home */
#navForHome #signInLink,#navForHome #linksForHome{
    padding-top: 1.6rem;
}
}
/* ------ for mobile ---------*/
@media (max-width:950px){
    /* Navbar for Home */
#navForHome #signInLink{
    padding-top: 0.2rem;
}
#navForHome #linksForHome a{
    margin: .2rem 0;
}
}