/* ------------- quiz nav ------------------ */
.quizNav{
    background-color: #b954f0;
    border-radius: 10px;
    margin-top: .7rem;
}
/* ------------- quiz list ------------------ */

.background{
    background-color: #E9E2EE;
}

.imageBackground{
    background-image: url(https://images.pexels.com/photos/3729557/pexels-photo-3729557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.searchBtn{
    background-color: #89288F;
    border: none;
    color:white
}

.filterBtn{
    outline-color: #560283;
}

.quizButton {
    background-color: #89288F;
    width: 100%;
    color: white;
    border: 2px solid transparent; /* Add a transparent border */
    text-decoration: none;
}

.quizButton:hover {
    background-color: #ffffff;
    border: 2px solid #89288F;
    color: #89288F;
    text-decoration: none;
}
.QuizDash{
    background-color: #E9E2EE;
}


.quizlist{
    max-width: max-content;
}


/*------------------------------------------------------------------------------------------------------*/

/* Define the media query breakpoints */
@media (max-width: 767px) { /* Hide SideNav on screens less than 768px wide (sm and xs screens) */
    .col-md-3.d-md-block.d-none {
      display: none;
    }
  }

.Test{
    width: 50vw;
}
  
/*------------------------------------*/
/*------------------ quiz card------------------*/

.QuizCard{
    height: 500px;
}

/*------------------------------------*/
/*------------------ quiz nav------------------*/
.QuizNavBtn.active,
.QuizNavBtn:hover {
  background-color: white;
  border-radius: 25px;
  /* Add any other styles you want for the active link on hover */
}


/* Style for non-active links */
.QuizNavBtn:not(.active) {
    /* Reset the background and text color for non-active links */
    background-color: transparent;
    color:#ffffff;
    border-radius: 25px;

  }
  
  /* Style for the hover effect on non-active links */
  .QuizNavBtn:not(.active):hover {
    background-color: rgb(255, 255, 255); /* Add any hover effect styles for non-active links here */}
  /*--------------------- image profile --------------------------*/
  .profileImage{
      width: 50px;
      height: 50px;
    }
    
    /*--------------------- profile --------------------------*/
    