/* ------------------------------- */
/* ------------- quiz list ------------------ */

.background{
    background-color: #E9E2EE;
}

.imageBackground{
    background-image: url(https://images.pexels.com/photos/3729557/pexels-photo-3729557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.searchBtn{
    background-color: #89288F;
    border: none;
    color:white

}

.filterBtn{
    outline-color: #560283;
}

.quizButton{
    background-color: #89288F;
    width: 100%;
    color: white;
}

.quizButton:hover{
    background-color: #ffffff;
    border: 2px #89288F  solid;
    width: 100%;
    color: #89288F;
}
.QuizDash{
    background-color: #E9E2EE;
}

.QuizNav{
    background-color: #52057B;
}

.quizlist{
    max-width: max-content;
}


/*------------------------------------------------------------------------------------------------------*/

/* Define the media query breakpoints */
@media (max-width: 767px) { /* Hide SideNav on screens less than 768px wide (sm and xs screens) */
    .col-md-3.d-md-block.d-none {
      display: none;
    }
  }

.Test{
    width: 50vw;
}
  
/*------------------------------------*/
/*------------------ quiz card------------------*/

.QuizCard{
    height: 500px;
}