.head{
    display: flex;
    justify-content: space-between;
}
.buttonForSidebar{
    color: rgb(15, 15, 15);
    border-radius:17px;
    /* padding: 2%; */
    cursor: pointer;
    max-width: 92% !important;
    margin-left: 6%;
    text-align: center !important;
}
.buttonForSidebar .row{
    width:30vw;
}
.buttonForSidebar h6{
font-weight: 500 !important;
font-size: 1rem;
padding-top: .6rem;
padding-right: .8rem;
}

.buttonForSidebar:hover{
    background-color: #89288F !important;
    color: white;
}
/* logoName */
#quizZad{
    font-size: 1.55rem;
    padding: 2.2rem 1rem 0 .5rem;
}